.container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  margin: 1em;
  min-height: 100%;
  flex: 1;
}
img {
}
.description {
  color: #888;
  font-size: 0.8em;
}
.title {
  color: #000;
}
.tagsContainer {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}
